/_build
blib/
/Build
/cover_db
/Debian_CPANTS.txt
/foo/
Makefile
/MANIFEST.bak
META.*
MYMETA.*
/MYMETA.json
/MYMETA.yml
/meta
/nytprof
/nytprof.out
pm_to_blib
PPIx-LineToSub-*
/ref
*.swp
/TODO
/xt/author/optionals/
